html{

  background-color:#f2f1ed;
  font-family:Georgia,serif;
}
img{
  width: 100%
}
h1{

  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #5d8432;
}
figcaption{

  font-style: italic;
  text-align: center;
}
nav,a:link,a:visited{

  text-decoration: none;
  color: #793284;
}
nav,a:hover,a:active{

  text-decoration: none;
  color: #b42885;
}
nav{

  font-weight: bold;
}
